<div class="row">
    <div class="col-sm-6">
<h2> Update </h2>
<form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
      <div><span>id: </span>{{user.id}}</div>
      <label for="userName">User Name:
        <input type="text" [(ngModel)]="user.username" formControlName="userName" class="form-control" [ngClass]="{'is-invalid': submited && f.userName.errors}"/>
      </label>
      <div *ngIf="submited && f.userName.errors" class="invalid-feedback">
        <div *ngIf="f.userName.errors.required">User Name is required</div>
      </div>
    </div>
  <div class="form-group">
    <label for="firstName">First Name:
      <input type="text" [(ngModel)]="user.firstName" formControlName="firstName" class="form-control" [ngClass]="{'is-invalid': submited && f.firstName.errors}"/>
    </label>
    <div *ngIf="submited && f.firstName.errors" class="invalid-feedback">
      <div *ngIf="f.firstName.errors.required">First Name is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="lastName">Last Name:
      <input type="text" [(ngModel)]="user.lastName" formControlName="lastName" class="form-control" [ngClass]="{'is-invalid': submited && f.lastName.errors}"/>
    </label>
    <div *ngIf="submited && f.lastName.errors" class="invalid-feedback">
      <div *ngIf="f.lastName.errors.required">Last Name is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password:
      <input type="password" [(ngModel)]="user.pwd" formControlName="password" class="form-control" [ngClass]="{'is-invalid': submited && f.password.errors}"/>
    </label>
    <div *ngIf="submited && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Password is required</div>
      <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-primary">Update</button>
    <a (click)="delete()" class="btn btn-danger margin-20">Delete</a>
  </div>
</form>
</div>
</div>
